<navbar></navbar>
<messages></messages>
<main>
    <p>Hier kommt die Karte: {{$ctrl.currentMapId}}</p>
    <leaflet bounds="$ctrl.mapBounds" lf-center="$ctrl.mapCenter" height="480px" width="640px"></leaflet>
    <p>
        Süd West:<br>
        Bounds: {{$ctrl.mapBounds}}<br>
        Lat: {{$ctrl.mapBounds.southWest.lat}}<br>
        Lng: {{$ctrl.mapBounds.southWest.lng}}<br>
        <br>
        Center: {{$ctrl.mapCenter}}<br>
        <br>
        <a href="http://localhost:11004/map/{{$ctrl.currentMapId}}/point/search/area/{{$ctrl.mapBounds.northEast.lat}},{{$ctrl.mapBounds.northEast.lng}},{{$ctrl.mapBounds.southWest.lat}},{{$ctrl.mapBounds.southWest.lng}}">REST-Link</a><br>
        <br>
        Nachricht: {{$ctrl.message}}
    </p>
</main>